= form.text_field :player, class: "formBox", placeholder: "好きな選手"
= form.text_field :team, class: "formBox", placeholder: "好きな球団"
= form.text_field :Recommended_player, class: "formBox", placeholder: "期待の若手選手"
= form.text_field :image, class: "formBox", placeholder: "写真"
= form.submit "送信", class: "send"
